@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@theme {
  --font-body: "Rubik", sans-serif;
  --color-main: #fdc800;
  --color-heading: #002147;
}

.btn-ghost {
  border: none;
}

.card_hover {
  @apply transition-all duration-300 ease-in-out;
  @apply hover:shadow-lg hover:bg-amber-200 hover:scale-103;
}
