@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@theme {
  --font-body: "Rubik", sans-serif;
  --color-main: #fdc800;
  --color-heading: #002147;
}
