@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@theme {
  --font-body: "Rubik", sans-serif;
  --color-main: #fdc800;
  --color-heading: #002147;
}

.btn-ghost {
  border: none;
}

.card_hover {
  @apply transition-all duration-300 ease-in-out;
  @apply hover:shadow-lg hover:bg-amber-200 hover:scale-103;
}

a.active {
  @apply text-[#fed966] font-bold;
}

.hover-element {
  @apply opacity-0 scale-95 translate-y-2 pointer-events-none transition-all duration-300 ease-out shadow-2xl focus:bg-red-500;
}

.hover-head:hover figure .hover-element {
  @apply opacity-100 scale-100 translate-y-0 pointer-events-auto;
}
